<footer id="footer" class="pt-2 pb-2 fixed-bottom">
    <div class="container">
        <div class="text-center text-normal">
            Made by the team at <a href="http://openworksgrp.com" target="_blank">OpenWorks Group</a>
        </div>
    </div>
</footer>

<!--scripts loaded here-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://unpkg.com/ionicons@4.2.1/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</body>
</html>