
<% include _shared/header %> 
    <div class="container">
        <div class="row pt-5">
            <div class="col xxx-large text-right">4</div>
            <div class="col-6 text-center"><img src="../images/bb_head_huh.png" class="img-fluid"/></div>
            <div class="col xxx-large text-left">4</div>
        </div>
        <div class="row pt-5">
            <div class="col text-center">
                This isn't what you are looking for.
            </div>
        </div>
    </div>

<% include _shared/footer %> 