
<% include _shared/header %> 
    <div class="container container-margin-top-40">
        <div class="row pt-5">
            <div class="col-lg-3 xxx-large text-right">4</div>
            <div class="col-lg-6 text-center"><img src="../images/bb_head_huh.png" /></div>
            <div class="col-lg-3 xxx-large text-left">4</div>
        </div>
    </div>

<% include _shared/footer %> 