
<% include _shared/header %> 
    <div class="container">
        <div class="row pt-5">
            <div class="col pt-5 text-center">
                <h4>Something went wrong.</h4>
                <div>Please send <a href="https://twitter.com/badgebotio" target="_blank">@badgebotio</a> the URL.</div>
                <div><img src="../images/bb_head_angry.png" class="img-fluid"/></div>
        </div>
    </div>

<% include _shared/footer %> 