<% include _shared/header %> 

    <div class="container container-margin-top-40">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-3">About BadgeBot</h3>
                <hr class="accent">
                <p class="text-normal text-justify pt-4">
                BadgeBot is the world's first <a href="https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html" target="_blank">Open Badges</a> issuing Twitter bot that:
                    <ul>
                        <li>Relies on Twitter authentication for issuing and recipient accounts.</li>
                        <li>Saves all badge data as public gists.</li>
                        <li>Uses Twitter timelines and tweets as evidence, displayer of badges, and access to badges.
                    </ul>
                </p>

                <p>BadgeBot is a prototype and a work in progress. The code is available at <a href="https://gist.github.com/badgebotio" target="_blank" title="BadgeBot Github">https://gist.github.com/badgebotio</a> and is issued under the <a href="https://douglass.io/the-bcl" targe="_blank">BCL License</a>. All are welcomed to use and contribute.
                </p>

                <p>The initial release of this project has been supported and inspired by <a href="https://www.participate.com/" target="_blank">Participate.com</a> and is an <a href="https://www.openrecognition.org/" target="_blank">Open Recognition Alliance (ORA)</a> project.</p>

                <p>If you are interested in creating a badge to be issued on BadgeBot, please DM <a href="https://twitter.com/BadgeBotio" target="_blank">@badgebotio</a>.
            </div>
        </div>
    </div>

<% include _shared/footer %> 